@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-family: "Urbanist", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

.phoneNumContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.25rem 0.5rem 0.25rem;
}
#phone-num-title {
  font-size: 2.25em;
  font-weight: 650;
  margin: 0;
  padding: 0;
}
#phone-num {
  background-color: #333;
  color: #f0f0f0;
  font-size: 2.5em;
  font-weight: 700;
  width: 9em;
  margin: 0.5rem 0 0 0;
  padding: 0.4em 0 0.3em 0;
  border-radius: 5em;
}

.resetSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}
#reset,
#submit {
  width: 8rem;
  background-color: #f0f0f0;
  color: #333;
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
  font-weight: 450;
  margin: 0 0.5rem;
  padding: 0.75rem 0rem;
  border: #333 solid 0.1rem;
  border-radius: 3rem;
}
#reset:hover,
#submit:hover {
  background-color: #333;
  color: #f0f0f0;
  font-weight: 650;
  cursor: pointer;
}

.difficulty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0 0.5rem 0;
  font-size: 1em;
  font-weight: normal;
}
#diff-container-title {
  font-size: 1em;
  font-weight: 600;
  margin: 0 0.5rem;
}
.diffMode {
  margin: 0 0.5rem;
  padding: 0 0.5em;
  border: #333 solid 0.1rem;
  border-radius: 5rem;
}
.diffMode .modeInfo {
  display: none;
  font-size: 0.8em;
}
.diffMode:hover {
  background-color: #333;
  color: #f0f0f0;
  font-weight: 600;
  border-radius: 1.25rem;
  cursor: pointer;
}
.modeTitle {
  margin: 0.5em;
  font-size: 0.9em;
  font-weight: 500;
}
.diffMode.active {
  border: #333 solid 0.15em;
}
.diffMode.active .modeTitle {
  font-weight: 700;
}
.diffMode:hover .modeInfo {
  display: block;
}

.instructionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0 0.75rem 0;
}
#instructions-btn {
  width: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f0f0f0;
  color: #333;
  font-size: 0.9rem;
  font-weight: 450;
  margin: 0 0 0.25rem 0;
  padding: 0.5rem 1.15rem;
  border: #333 solid 0.1rem;
  border-radius: 3rem;
}
#instructions-icon {
  height: 1.5rem;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0 0 0.8rem;
}
#instructions-btn:hover {
  background-color: #333;
  color: #f0f0f0;
  font-weight: 650;
  cursor: pointer;
}
.instructions {
  display: none;
}
.instructions.showing {
  display: block;
}
.instructions.showing p {
  margin: 0;
  padding: 0.25rem 0.25rem 0 0.25rem;
  font-size: 1em;
  font-weight: normal;
}

.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(4, 1fr);
  gap: 0;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 0;
}
.card {
  position: relative;
  width: 4.5rem;
  height: 6rem;
  perspective: 1000px;
  font-weight: 500;
  font-size: 1.75rem;
  margin: 0.8rem;
  border: 0.15rem #333 solid;
  border-radius: 0.45rem;
  -webkit-transition: transform ease-in-out 0.5s; /* For Safari */
  transition: transform ease-in-out 0.5s;
  -webkit-transform-style: preserve-3d; /* For Safari */
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-face,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* translate:-50%; */
  -webkit-backface-visibility: hidden; /* For Safari */
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-face {
  background-image: url("../card-designs/CardFace-SpiralWarp-WtLine-Refined-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-face:hover {
  box-shadow: 0 0.1rem 0.5rem 0 #333;
}
.card-back {
  -webkit-transform: rotateY(180deg); /* For Safari */
  transform: rotateY(180deg);
}

.card.flipped {
  -webkit-transform: rotateY(180deg); /* For Safari */
  transform: rotateY(180deg);
  box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.5);
}

.card.matched {
  border: 0.2rem solid violet;
  font-size: 2rem;
  font-weight: 700;
}

@media (min-width: 1112px) {
  .card-container {
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(2, auto);
  }
}
@media (max-width: 560px) {
  .card {
    width: 3rem;
    height: 4rem;
    margin: 0.5em;
    font-size: 1.5rem;
  }
  .card-face:hover {
    box-shadow: 0 0.15rem 0.35rem 0 #333;
  }
  .card.flipped {
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.5);
  }
  .card.matched {
    font-size: 1.75rem;
    font-weight: 600;
  }
}
@media (max-width: 440px) {
  .card-container {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
  }
}
@media (max-width: 420px) {
  .difficulty {
    display: flex;
    flex-direction: column;
    margin: 1.75rem 0 0rem 0;
  }
  .diffMode {
    margin: 0.25rem 0;
  }
  #diff-container-title {
    margin: 0 0 0.4rem 0;
  }
}
