/* Originally sourced from https://codepen.io/ghaste/pen/ZYzxNWL by @ghaste */

@property --off {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 50%;
}
@property --size {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 50%;
}
.ex {
  --off: 50%;
  width: 30vmin;
  aspect-ratio: 1;
  border-radius: 100vmax;
  background-color: #ffffff;  /* CHANGED: #5eb0e5 to #fff (blue to white) */
  position: relative;
  &:before {
    content: "";
    position: absolute;

    aspect-ratio: 1;
    background-color: #1f2020;
    width: 30vmin;
    left: 0vmin;
    top: 0vmin;
    border-radius: 100vmax;
    animation: mov 3s linear alternate infinite;  /* CHANGED: 5s to 3s */
    clip-path: circle(50% at var(--off) 50%);
  }
}
@keyframes mov {
  0% {
    --off: 170%;
    width: 30vmin;
    left: 0vmin;
    top: 0vmin;
  }
  15%,
  85% {
    width: 30vmin;
    left: 0vmin;
    top: 0vmin;
  }
  50% {
    width: 80vmin;
    left: -25vmin;
    top: -25vmin;
  }
  100% {
    --off: -70%;
    width: 30vmin;
    left: 0vmin;
    top: 0vmin;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  place-content: center;
  /* background-color: #1f2020; */
  background-color: #1f2020;  
}
