/* --FONTS-- */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Anta&family=Bruno+Ace+SC&family=Bungee+Hairline&family=Chathura:wght@100;300;400;700;800&family=Genos:ital,wght@0,100..900;1,100..900&family=Goldman:wght@400;700&family=Jura:wght@300..700&family=Megrim&family=Oxanium:wght@200..800&family=Rajdhani:wght@300;500;700&family=Sankofa+Display&display=swap');
/* Jura */
.juraLight {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.juraRegular {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.juraBold {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
/* Megrim */
.megrimRegular {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* Anta */
.antaRegular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Bungee Hairline */
.bungeeHairlineRegular {
  font-family: "Bungee Hairline", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Chathura */
.chathuraThin {
  font-family: "Chathura", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.chathuraLight {
  font-family: "Chathura", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.chathuraRegular {
  font-family: "Chathura", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.chathuraBold {
  font-family: "Chathura", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.chathuraExtrabold {
  font-family: "Chathura", sans-serif;
  font-weight: 800;
  font-style: normal;
}
/* Bruno Ace SC */
.brunoAceScRegular {
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Oxanium */
.oxaniumLight {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.oxaniumRegular {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.oxaniumBold {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
/* Genos */
.genosThin {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.genosRegular {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.genosBold {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* Goldman */
.goldmanRegular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.goldmanBold {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* Alumni Sans Pinstripe */
.alumniSansPinstripeRegular {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.alumniSansPinstripeRegularItalic {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: italic;
}
/* Rajdhani */
.rajdhaniLight {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.rajdhaniMedium {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.rajdhaniBold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* Sankofa Display */
.sankofaDisplayRegular {
  font-family: "Sankofa Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* SystemUI Thin (used for Greek Omega) */
.spanFontSystemUiThin {
    font-family: system-ui;
    font-weight: 100;
    font-style: normal;
}


/* --GENERAL-- */
* {
    --top-color: rgb(0, 195, 255);
    --under-color: rgb(120, 0, 255);
    --select-color: rgb(225, 100, 255);
}
html {
    /* margin: 0;
    padding: 0; */
    background-color: black;
}
body {
    margin: 0;
    padding: 0;
    /* background-color: black; */
    color: white;
    font-family: 'Jura', 'Oxanium', 'Lucida Sans Unicode', Geneva, system-ui;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/* --PAGE HEADING-- */
#pg-home {
    margin: 1.5em;
    /* border-top: 0.25em white solid; */
    /* border-radius: 10em;
    padding: 2rem;
    box-shadow: inset 0em 2em 1em -1em var(--under-color), 0em -1em 1.5em -1em var(--under-color), 0em -1em 1.5em -1.25em var(--under-color); */
    text-align: center;
}
#pg-title {
    margin: 0;
    padding: 0;
    font-size: 500%;
    text-shadow: var(--select-color) 0 0 0.05em, var(--select-color) 0 0 0.1em, var(--under-color) 0 0 0.15em, var(--under-color) 0 0 0.25em, var(--top-color) 0 0 0.5em;
    animation: titleGlowPulse 1s ease-out 0s infinite alternate;
}
#pg-subtitle {
    margin: 0;
    padding: 0.25em;
    line-height: 1em;
    font-size: 2em;
    font-weight: 200;
    text-shadow: var(--select-color) 0 0 0.05em, var(--select-color) 0 0 0.1em, var(--under-color) 0 0 0.15em, var(--under-color) 0 0 0.25em, var(--top-color) 0 0 0.5em;
    /* filter: drop-shadow(0 0 0.2em var(--under-color));
    text-shadow: 0 0 0.05em var(--select-color), 0 0 0.15em var(--top-color); */
    /* font-weight: 200; */
}
@keyframes titleGlowPulse {
    0% {
        text-shadow: var(--select-color) 0 0 0.05em, var(--select-color) 0 0 0.1em, var(--under-color) 0 0 0.15em, var(--under-color) 0 0 0.25em, var(--top-color) 0 0 0.5em;
    }
    100% {
        filter: saturate(125%), contrast(150%), brightness(125%);
        text-shadow: white 0 0 0.02em, var(--select-color) 0 0 0.05em, var(--select-color) 0 0 0.1em, var(--select-color) 0 0 0.2em, var(--under-color) 0 0 0.25em, var(--under-color) 0 0 0.25em, var(--top-color) 0 0 0.6em;
    }
}


/* NAV BAR */
/* https://charlesfreeborn.medium.com/how-to-build-a-responsive-nav-using-css-flexbox-3511cd936af9 */
nav {
  background-color: #000;
  margin: 0 0.75rem;
  border: 0.25rem white solid;
  border-radius: 10em;
  position: sticky;
  box-shadow: inset var(--top-color) 0 0 0.5em 0.4em, var(--top-color) 0 0 0.5em 0.5em, inset var(--under-color) 0 0 0.5em 0.4em, var(--under-color) 0 0 0.5em 0.5em;
  /* box-shadow: 0 -1.5em 1.5em 0.25em var(--under-color), 0 -1em 1em 0.25em var(--select-color); */
  /* top: 0px; */
}
nav ul {
  margin: 0;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}
nav li {
    flex-shrink: 1;
  text-align: center;
  font-weight: 200;
  font-size: 1.2em;
}
nav a {
    margin: 0;
    padding: 0.5em;
    color: #fff;
    text-align: center;
  text-decoration: none;
  /* filter: drop-shadow(0 0 0.1em 0.25em var(--under-color)); */
  text-shadow: var(--top-color) 0 0 0.15em, var(--top-color) 0 0 0.2em, var(--under-color) 0 0 0.25em, var(--under-color) 0 0 0.5em;
  transition: all 0.5s linear;
  z-index: 1;
}
nav a:hover {
    font-weight: 900;
    text-shadow: var(--select-color) 0 0 0.05em, var(--select-color) 0 0 0.1em, var(--under-color) 0 0 0.15em, var(--under-color) 0 0 0.25em, var(--top-color) 0 0 0.5em;
}

/* .navDrop:hover{
    font-weight: 900;
    text-shadow: var(--select-color) 0 0 0.05em, var(--select-color) 0 0 0.1em, var(--under-color) 0 0 0.15em, var(--under-color) 0 0 0.25em, var(--top-color) 0 0 0.5em;
} */
/* nav a:hover .navDropInfo{
    display: flex;
    flex-direction: column;
    font-weight: 900;
    text-shadow: var(--select-color) 0 0 0.05em, var(--select-color) 0 0 0.1em, var(--under-color) 0 0 0.15em, var(--under-color) 0 0 0.25em, var(--top-color) 0 0 0.5em;
} */

/* .navDropInfo {
    display: none;
}
.nDrpCncrt {
    margin: 0;
    padding: 0;
}
.nDrpTitle {
    margin: 0;
    padding: 0;
}
.nDrpSubtitle {
    margin: 0;
    padding: 0;
}
.nDrpDtTm {
    margin: 0;
    padding: 0;
}
.nDrpBld {
    margin: 0;
    padding: 0;
} */


.concertsSchedule {
    margin: 0;
    padding: 5vh 15% 1vh 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.concert{
    margin: 2em 0;
    border: 0.25rem white solid;
    padding: 2.5vh 5%;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
    text-align: center;
    border-radius: 2em;
    text-shadow: var(--top-color) 0 0 0.35em, var(--under-color) 0 0 0.75em;
    box-shadow: inset var(--top-color) 0 0 0.5em 0.4em, var(--top-color) 0 0 0.5em 0.5em, inset var(--under-color) 0 0 0.5em 0.4em, var(--under-color) 0 0 0.5em 0.5em;
    /* filter: drop-shadow(); */
    /* filter: blur(); */
    transition: all 1s ease;
}
.concert:hover {
    background-color: white;
    color: black;
    /* MAYBE ONLY APPLY TEXT SHADOW GLOWPULSE ANIMATION TO BOLDED TEXT AND REST STAYS AS TRANSITION TO SELECTCOLOR ?? */
    text-shadow: var(--select-color) 0 0 0.5em, var(--under-color) 0 0 0.5em;
    /* BOX-SHADOW: in/outset top inc by 0.1em, inset under inc by 0.15em, outset top inc by 0.2em */
    box-shadow: inset var(--top-color) 0 0 0.6em 0.5em, var(--top-color) 0 0 0.6em 0.6em, inset var(--under-color) 0 0 0.65em 0.55em, var(--under-color) 0 0 0.7em 0.7em;
    filter: drop-shadow(0 0 0em rgba(255, 255, 255, 0.75));
    /* filter: drop-shadow(); */
    /* filter: blur(); */
    /* animation: glowPulse 1s timing-function 0s infinite normal fill-mode; */
    animation-name: glowPulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    /* animation-delay: -1s; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes glowPulse {
    0% {
        /* default select glow on hover */
        filter: drop-shadow(0 0 0em rgba(255, 255, 255, 0.75));
        text-shadow: var(--select-color) 0 0 0.5em, var(--top-color) 0 0 0.75em;
        box-shadow: inset var(--top-color) 0 0 0.6em 0.5em, var(--top-color) 0 0 0.6em 0.6em, inset var(--under-color) 0 0 0.65em 0.55em, var(--under-color) 0 0 0.7em 0.7em;
    }
    100% {
        /* max glow */
        filter: drop-shadow(0 0 0.75em rgba(255, 255, 255, 0.75));
        text-shadow: var(--select-color) 0 0 0.1em, var(--top-color) 0 0 0.5em;
        box-shadow: inset var(--top-color) 0 0 0.8em 0.7em, var(--top-color) 0 0 0.8em 0.8em, inset var(--under-color) 0 0 0.85em 0.95em, var(--under-color) 0 0 1em 1em;
    }
}

.concertNum {
    margin: 0;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    font-family: "Bruno Ace SC";
    font-size: 1.2em;
    font-weight: 100;
}
.concertName {
    margin: 0;
    /* padding: 0.75rem 0.25rem 0.75rem 0.25rem; */
    padding: 1rem 0.25rem;
    font-family: "Goldman";
    font-size: 2em;
    font-weight: 900;
        /* __MOBILE__ font-weight: 500; */
}

.concertDateTime {
    /* width: 85%; */
    margin: 0;
    padding: 0.75rem 0.25rem;
    font-size: 1.25em;
    /* display: flex;
    justify-content: space-between;
    flex-grow: 1; */
    /* column-gap: 2em; */
}
.concertDate {
    margin: 0;
    padding: 0;
    /* float: left; */
}
.concertTime {
    margin: 0;
    padding: 0;
    /* float: right; */
}

.concertVenue {
    margin: 0;
    padding: 0.75rem 0.25rem;
    /* font-family: "Genos"; */
    /* font-family: "Oxanium"; */
    /* font-family: "Sankofa Display"; */
    /* font-family: "Rajdhani"; */
    /* font-family: "Alumni Sans Pinstripe"; */
    /* font-family: "Goldman"; */
    /* font-family: "Bruno Ace SC"; */
    /* font-family: "Bungee Hairline"; */
    /* font-family: "Anta"; */
    /* font-family: "Megrim"; */
    /* font-family: "Chathura"; */
    /* font-family: "Jura"; */
    font-size: 1.25em;
    font-style: italic;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    /* display: flex; */

    /* justify-content: center; */
    /* column-gap: 1em; */
}
.venueInline {
    margin: 0;
    padding: 0;
}
.venueGeneral {
    margin: 0;
    padding: 0;
    display: none;
    /* grid-column: 1/1;
    grid-row: 1/1;
    justify-self: right; */
}
.venueSpecific {
    margin: 0;
    padding: 0;
    display: none;
    /* grid-column: 2/2;
    grid-row: 2/2;
    justify-self: left; */
}

.concertConductor {
    margin: 0;
    padding: 0.75rem 0.25rem;
}
.conductor {
    margin: 0;
    padding: 0;
    font-family: "Oxanium";
    font-size: 1em;
    font-weight: 300;
}
.conductorName {
    margin: 0;
    padding: 0.15em;
    font-size: 1.25em;
    font-weight: 900;
}

.concertRepertoire {
    margin: 0;
    padding: 0.75rem 0.25rem;
}
.repertoire {
    margin: 0;
    padding: 0;
    font-family: "Oxanium";
    font-size: 1em;
    font-weight: 300;
}
.songsList {
    margin: 0;
    padding: 0.15em;
    font-size: 1.2em;
    font-weight: 100;
    /* font-weight: 500; */
}
/* MAYBE GET RID OF "SONG" CLASS FOR INDIVIDUAL SONGS ?? */

.concertDescription {
    margin: 0;
    padding: 0.75rem 1rem;
}
.concertDescription p {
    margin: 0;
    padding: 0.25rem 0.5rem;
}
p.descriptionNote {
    margin: 0;
    padding: 0.75rem 1rem 0.5rem 1rem;
}


.concertDropInfo {
    display: none;
}
.concert:hover .concertDropInfo {
    display: flex;
    flex-direction: column;
}


.spanBold {
    font-weight: 700;
    font-size: 1.1em;
}
.spanItalic {
    font-style: italic;
    font-size: 1.1em;
}


footer {
    height: 10em;
    margin: 0;
    padding: 1em;
    text-align: center;
    align-content: center;
}
button {
    margin: 0;
    /* height: auto;
    width: auto; */
    /* border: 0.25em white solid;
    border-radius: 8em; */
    padding: 1em;
    background-color: #000;
    /* filter: drop-shadow(white 0 0 1em); */
    border: 0px black solid;
    /* border: 0.25em white solid;
    border-radius: 8em;
    box-shadow: white 0 0 0.5em 0.25em, white 0 0 1em 0.5em; */
}
button a {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 2em;
    text-decoration: none;
    transition: all 1s ease-in;
}
button:hover {
    height: 5em;
    width: auto;
    font-size: 1em;
    font-weight: 900;
    animation: wormhole 1s ease-in-out alternate infinite;
    box-shadow: white 0 0 0.5em 0.25em, white 0 0 1em 0.5em;
    border-radius: 50%;
}
@keyframes wormhole {
    0% {
        box-shadow: white 0 0 0.5em 0.25em, white 0 0 1em 0.5em;
        border-radius: 50%;
    }
    100% {
        height: 25%;
        border: 0.25em white solid;
        border-radius: 50%;
        box-shadow: white 0 0.5em 0.5em 0.1em, white 0 1em 0.5em 0.25em, white 0 1em 1em 0.25em, white 0em 1em 0.25em 0.25em;
    }
}


/* @media (max-width: ) */
@media (max-width: 440px) {
    .venueInline {
        display: none;
    }
    .venueGeneral, .venueSpecific {
        display: block;
    }
}

/* TO-DO
    - * Style Concert Main Info
        - Add concerts 4-10
        - Fonts
        - Constrain widths + font-size media queries for web-size (full) & mobile
    - * Title
    - * Footer
    - * Nav
    - * Remove what's unused (fonts, classes, etc.)
    - Nav Dropdowns Transitions
    - Gradient Rays Animated Background

hover transitions/animations
    - concert width, font-size
        - //

*/

/* @keyframes dropDown {
    0% {
    }
    100% {
    }
} */

/* 
<section class="concertsSchedule">
        <div class="concert" id="concert-1">
            <h2 class="concertNum">CONCERT 1:</h2>
            <h2 class="concertName">COSMIC SENSORY CONVERGENCE: STELLAR VOYAGE</h2>
            <div class="concertDateTime">
                <div class="concertDate">Stardate <span class="spanBold">2025.108-109</span></div>
                <div class="concertTime">Harmonic Alignment: <span class="spanBold">22:00</span></div>
            </div>
            <div class="concertVenue">
                <!-- __WEB__ in-line -->
                <!-- __MOBILE__ specific under general -->
                <div class="venueGeneral">The Crystal Nebula,</div>
                <div class="venueSpecific">Interdimensional Sound Pavilion</div>
            </div>
            <div class="concertConductor">
                <!-- __WEB__ in-line -->
                <!-- __MOBILE__ name under conductor tag -->
                <div class="conductor">Conductor:</div>
                <div class="conductorName">Multi-Dimensional Maestro ZEROX-9</div> <!-- BOLD NAME, NOT THEIR 'TITLE' -->
            </div>
            <div class="concertDropInfo">
                <div class="concertRepertoire">
                    <div class="repertoire">Repertoire:</div>
                    <div class="songsList">
                        <!-- __WEB__ all in-line -->
                        <!-- __MOBILE__ one per line -->
                        <div class="song">"CELESTIAL BODIES IN MOTION,"</div>
                        <div class="song">"GRAVITATIONAL HARMONICS,"</div>
                        <div class="song">"GALACTIC SYNTHESIS,"</div>
                        <div class="song">"INTERSTELLAR JOURNEY,"</div>
                        <div class="song">"COSMIC ENLIGHTENMENT"</div>
                    </div>
                </div>
                <div class="concertDescription">
                    <p>The enigmatic <span class="spanBold">ZEROX-9</span>, whose conducting technique has been described as "transcendentally mesmerizing" across seven galaxies, guides the vibrant collective known as the ZΩRBLAXian VOID PULSE COLLECTIVE through an evening of cosmic wonder. Experience the breathtaking premiere of "CELESTIAL BODIES IN MOTION," a suite that builds from delicate whispers to magnificent crescendos, performed on instruments crafted from rare metals found only on distant moons and responsive to audience brainwave patterns. The repertoire explores the hidden dimensions of the universe with compositions including "GRAVITATIONAL HARMONICS" (featuring synchronized breathing techniques), "GALACTIC SYNTHESIS" (where sound waves create visual phenomena throughout the venue), and "INTERSTELLAR JOURNEY" (causing spontaneous neural connections across multiple dimensions). The night culminates in "COSMIC ENLIGHTENMENT"—an immersive experience where sound transcends auditory perception and transforms consciousness itself. Private resonance chambers available for those seeking enhanced acoustic experiences. Dress code: Reflective, light-responsive attire recommended for optimal visual integration. Molecular refreshments from distant star systems served at intermission.</p>
                </div>
            </div>
        </div>
    </section> 
*/


/* CONCERTS SCHEDULE */
/* 
general
    title_m-h2 (fC) << CNCRT_d (fP) << SCHED_s (fP ??)  (3)
    dtTm_m-d (fC) << conDtTm_d << CNCRT_d (fP) << SCHED_s (fP ??)  (4)
    venue_m-d (fC) << conVenue_d << CNCRT_d (fP) << SCHED_s (fP ??)  (4)
    conductor_m-d (fC) << conConductor_d << CNCRT_d (fP) << SCHED_s (fP ??)  (4)
expandDetailsInfo
    songs_m-d (fC) << songsList_d, rep_d << conRepertoire_d << expandDetailsInfo_d << CNCRT_d (fP) << SCHED_s (fP ??)  (6)
    dscrptn_p (fC ??) << conDscrptn_d << expandDetailsInfo_d << CNCRT_d (fP) << SCHED_s (fP ??)  (5)

    (MAY ENCOUNTER ISSUES BECAUSE OF SPANS, BUT NOT SURE)

SCHED flex-p
*/