@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Pompiere&family=Ysabeau+SC:wght@1..1000&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
  /* background-color: #c9bd95; */
  background-color: #e2eff0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 600px;
  /* background-color: white; */
  background-color: #e0edee;
  border-radius: 10px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.14),
    0 3px 5px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

header {
  margin: 0px 30px;
  font-family: Bona Nova SC, Ysabeau SC, Pompiere, serif;
  font-size: 40px;
  text-align: center;
  padding: 30px 15px 15px 15px;
  /* border-bottom: 1px solid #ebebeb; */
  border-bottom: 1px solid #1e1e1e;
}

.quotes {
  font-family: Ysabeau SC, Pompiere, serif;
  font-style: italic;
  font-weight: 500;
  padding: 20px 50px;
  min-height: 200px;
}

.quote-text {
  padding-bottom: 20px;
  font-size: 25px;
  color: #1e1e1e;
}

#icon-pic {
  width: 200px;
  height: 200px;
  /* border: 1px black solid; */
  border-radius: 10px;
  margin: 0 auto;
  display: block;
}

.controls {
  width: 100%;
  padding: 5px 30px 25px 30px;
}

.button {
  font-family: Ysabeau SC, Pompiere, serif;
  font-weight: 500;
  display: block;
  color: #fdfdfd;
  margin: 10px 0px;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 20px;
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12); */
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.14),
    0 3px 5px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.icon-related {
  /* background-color: #1da1f2; */
  background-color: #7590b1;
  /* text-decoration: none; */
}

.icon-related:hover {
  /* background-color: #1e7fbb; */
  background-color: #556e84;
}

.new-quote {
  /* background-color: #4a2b0f; */
  background-color: #957356;
  margin-bottom: 20px;
}

.new-quote:hover {
  /* background-color: #6d3b0e; */
  background-color: #5e422c;
}

.new-quote:disabled {
  background-color: #cccccf;
  color: #777777;
  cursor: not-allowed;
}

@media screen and (max-width: 600px) {
  .app {
    width: 100%;
  }
  header {
    margin: 0px 30px;
    font-family: Bona Nova SC, Ysabeau SC, Pompiere, serif;
    font-size: 32px;
    text-align: center;
    padding: 30px 15px 15px 15px;
    border-bottom: 1px solid #1e1e1e;
  }
  .quote-text {
    font-size: 18px;
  }
  .button {
    font-size: 18px;
  }
  #icon-pic {
    width: 150px;
    height: 150px;
  }
  .controls {
    padding: 5px 50px 30px 50px;
  }
}
