/* Originally sourced from https://codepen.io/vedzzb/pen/KwPvNQj by @vedzzb */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: boder-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  /* CHANGED font from Poppins to Calibri */
  text-align: center;  /* CHANGED text to be centered */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(#1d031f 33%, #000000);  /* CHANGED solid #1d031f to radial gradient into blk */
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  gap: 50px;
}

.container .box {
  position: relative;
  height: 406px;  /* CHANGED 400px to 406px to fit 5x7 aspect ratio */
  width: 290px;  /* CHANGED 280px to 290px to fit 5x7 aspect ratio */
  background: #fff;
  border-radius: 20px;
}

.container .box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: #f00;
}
.container .box::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: #f00;
  filter: blur(32px) saturate(150%);  /* CHANGED blur from 16px to 32px, ADDED 150% saturation */
}
.container .box b {
  padding: 30px;
  position: absolute;
  display: block;
  inset: 4px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.75);
  z-index: 2;
  /* background-image: url("elbow-home-nyc-5x7.jpg"); */
  /* background-image: url("prof-studio-nyc-5x7.jpg"); */
  /* background-image: url("front-subway-nyc-5x7.jpg"); */
}
.container .box b p {
  font-weight: 200;
  color: #fff;
  text-shadow: 0 0 12px #fff;
}

.container .box:nth-child(1)::before,
.container .box:nth-child(1)::after {
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}

.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after {
  background: linear-gradient(45deg, #03a9f4, #ff0058);
}

.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after {
  background: linear-gradient(45deg, #4dff03, #00d0ff);
}
