body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gold;
  font-family: "Courier New", Courier, monospace;
}
nav {
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
  background-color: black;
}
nav a {
  width: 10vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  text-decoration: none;
  color: white;
}

img {
  width: 30vw;
  height: auto;
  animation-name: groovn;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function:cubic-bezier(0.67, 0, 0.33, 1);
  /* SHORTHAND animation: cubic-bezier(0.67, 0, 0.33, 1) 1s infinite alternate groovn*/
}
@keyframes groovn {
    0% {
      transform: rotate(30deg);
    } 
    50% {
      transform: rotate(-30deg);
    }
    100% {
      transform: rotate(30deg);
    }
}

#neon-circle {
  background-color: black;
  background: radial-gradient(black, gold, black);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: 5vw;
  top: 0;
}

/* add either throbbing glow w/ "CLICK ME!" to circle to incentivize click, then on click, circle swoops over to other side, inverses colors, and whole page inverses color scheme */
