body {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}
.elmOne {
    margin: 1em;
    padding: 1em 2em;
    border: 0.5em black double;
    text-align: center;
    background-color: cyan;
}
#title {
    margin: 0;
    padding: 0.5em;
}
#findOut {
    width: 100%;
    padding: 0.5em;
    border: 0.5em black double;
    border-radius: 5em;
}

#elmTwo {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1vh;
    padding: 2em;
    border-radius: 5em;
    box-shadow: inset gray 0 0 0.5em 0.25em;
    color: rgb(255, 0, 128);
    font-weight: bold;
}


/* <h1 id="title">WHAT'S THIS?</h1>
    <button id="findOut">find out...</button>

    <div id="sadness">more disappointment here!</div> */

/* * {
    --forest-color: #153019;
    --frog-color: #57B330;
    --cream-color: #FFE6A3;
    --chai-color: #CC9C4D;
    --brown-color: #422501;
}

.bgFrame {
    padding: 0;
    background-color: var(--brown-color);
    color: var(--brown-color);
}

.overlayBg {
    height: 10vh;
    margin: 0;
    padding: 5%;
    border-radius: 1em;
    background-color: var(--cream-color);
    color: var(--brown-color);
    text-align: center;
}

.themeBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 5em;
    border: 1% var(--forest-color) solid;
    border-radius: 1em;
    padding: 2em;
    background-color: var(--frog-color);
    color: var(--forest-color);
} */

/* .edgeBlocks {
    margin: 0;
    padding: 0;
    width: 10vw;
    right: 0%;
}

#topBlock {
    background-color: var(--cream-color);
    border-radius: 1em;
    width: 10vw;
    height: 10vw;
    top: 0%;
}

#btmBlock {
    background-color: var(--cream-color);
    border-radius: 1em;
    width: 10vw;
    height: 10vw;
    bottom: 0%;
} */

/* // */

/* .switchTheme {
    background-color: var(--brown-color);
    color: var(--cream-color);
} */
/* .div-box {
    background-color: black;
    color: cyan;
    border: 5% cyan solid;
    color: rgb(24, 224, 24);
    padding: 1%;
    text-align: center;
    left: 0px;
} */