body {
    background-color: #ff0000;
    color: #14af00;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

.scheduleTitle {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
}

.grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    /* below added */
    display: grid;
    grid-template-columns: 3fr 1fr; /* blog post col (3fr) 3x width of phtography col (1fr) */
    grid-template-rows: 1fr; /* this grid only needs 1 row */
}

nav {
    background-color: #1e65ff;
    padding: .5em;
    /* below added */
    position: sticky;
    top: 0px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /* below added */
    display: flex;
}

/* below (nav li) added */
nav li {
    flex-grow: 1;
    text-align: center;
    justify-content: space-evenly;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
}



@media (max-width: 500px) {
    .grid {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .songNames {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}