* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
  /* background-color: white; */
  background-image: linear-gradient(to bottom, rgba(204, 204, 204, 1), rgb(255, 255, 255, 1) 20% 80%, rgba(204, 204, 204, 1));
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;

  /* // */
  border-top: 1mm solid red;
  border-bottom: 1mm solid red;

  background: white;
  background: url(top-image.png) no-repeat left top, url(bottom-image.png) no-repeat left bottom;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */
/* 
The main letter
    Apply the CSS to the HTML.
    Add a background declaration to the letter that:
        Fixes the top image to the top of the letter
        Fixes the bottom image to the bottom of the letter
        Adds a semi-transparent gradient over the top of both of the previous backgrounds that gives the letter a bit of texture. Make it slightly dark right near the top and bottom, but completely transparent for a large part of the center.
        Add a white background color to the letter.
        Add a 1mm top and bottom solid border to the letter, in a color that is in keeping with the rest of the color scheme.
The logo
    To the <h1>Links to an external site., add the logo as a background image.
    Add a filter to the logo to give it a subtle drop shadow. 
*/